@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #FFFFFF;
  --background-rgb: #0D1117;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}